
@using XXXBlazor.Client.Models
@using DevExpress.Blazor

@inherits Hdf5GridBase

@if(IsDataLoading)
{
    <h4>Data Loading...!</h4>
}
else
{
    <DxGrid data="@NodeData" ShowAllRows="true" VirtualScrollingEnabled="true" TextWrapEnabled="false" CssClass="xxxgrid-hdf">
        <Columns>
            <DxGridDataColumn FieldName="Data"/>
        </Columns>
    </DxGrid>

    <div style="mt-3; mb-3;">
        <DxButton RenderStyle="ButtonRenderStyle.Info" Text="Debug : Check Data" Click="@EnableDebugMode" />
    </div>
}

@if (!IsDataLoading && null != selectedNode && bDebugMode)
{
    <div>
        <DxButton RenderStyle="ButtonRenderStyle.Info" Text="Console Data" Click="@ConsoleData" />
        <h4>[1d2d3d]</h4>
            [Name]<br>
            "@selectedNode.Name"<br>
            <br>

            [Path]<br>
            "@selectedNode.Path"<br>
            <br>

            [NodeType]<br>
            "@selectedNode.NodeType"<br>
            <br>

            [Children]<br>
            "@selectedNode.Children"<br>
            @foreach (var child in selectedNode.Children)
            {
                <p>@child.Name</p>
            }
            <br>

            [Attributes]<br>
            "@selectedNode.Attributes"<br>
            @foreach (var attr in selectedNode.Attributes)
            {
                <p>@attr.Key: @attr.Value</p>
            }
            <br>

            [Dimensions]<br>
            "@selectedNode.Dimensions"<br>
            @if (selectedNode.Dimensions != null)
            {
                @foreach (var dim in selectedNode.Dimensions)
                {
                    @($"{dim} ")
                }
            }
            <br>
            <br>

            [DataType]<br>
            "@selectedNode.DataType"<br>
            <br>

            [Data]<br>
            "@selectedNode.Data"<br>
            "@FormatArray(selectedNode.Data)"<br>
            <br>

        <h4>[1d2d3d]</h4>
    </div>
}
