
@using XXXBlazor.Client.Models
@using DevExpress.Blazor
@using System.Data

@inherits Hdf5LegendBase

<div style="height: 40px;">
    <DxButton
        Text="Select Series"
        Click="@(() => OpenSelectSeriesPopup())"
        Visible="(ShowSeriesList != null)">
    </DxButton>
</div>

@if(null != ShowSeriesList)
{
    <DxPopup
        @bind-Visible="@isVisiblePopupSelectSeries"
        Scrollable="true"
        MaxHeight="600px"
        SizeMode="SizeMode.Small"
        ShowFooter="true"
        HeaderText="Select Series">
        <BodyContentTemplate>
            <div style="display: flex; gap: 10px;">
                <DxButton 
                    Text="Select All"
                    Click="@(() => OnClickSelectAll())">
                </DxButton>
                <DxButton 
                    Text="DeSelect All"
                    Click="@(() => OnClickDeSelectAll())">
                </DxButton>
            </div>
            <div style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 8px;">
                @foreach(string item in ShowSeriesList)
                {
                    <DxCheckBox CheckType="CheckType.Switch"
                        Checked="@(TempSelection.ContainsKey(item) ? TempSelection[item] : false)"
                        CheckedChanged="@((bool t) => CheckedChanged(item, t))"
                        Alignment="CheckBoxContentAlignment.Default">
                        @item
                    </DxCheckBox>
                }
            </div>
        </BodyContentTemplate>

        <FooterContentTemplate>
            <DxButton CssClass="popup-button my-1 ms-2" RenderStyle="ButtonRenderStyle.Primary" Text="OK" Click="@OnOK" />
            <DxButton CssClass="popup-button my-1 ms-2" RenderStyle="ButtonRenderStyle.Secondary" Text="Cancel" Click="@OnClose" />
        </FooterContentTemplate>
    </DxPopup>
}
